@import url(https://fonts.googleapis.com/css?family=Raleway:700|Lato:400,100);
body{
	font: 400 22px/1.5 'Lato', sans-serif;
	color: #fff;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
a.ba-button{
	display: inline-block;
	font-size: 24px;
	line-height: 54px;
	text-transform: uppercase;
	text-decoration: none;
	color: #222;
	padding: 0 148px;
	border: 3px solid #222;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
a.ba-button:hover{
	border: 3px solid #15b1f9;
}
input[type="submit"]:active,
input[type="button"]:active,
button:active,
a.ba-button:active{
	top: 1px;
	position: relative;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}
.ba-section {
	padding: 70px 0 110px;
}
.ba-intro {
	background: #011b28 url(../img/intro-bg.jpg) 50% no-repeat;
	background-size: cover;
	padding: 50px 0 393px;
	min-height: 100vh;
	position: relative;
}
.ba-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ba-menu li {
	float: left;
	margin-left: 53px;
}
.ba-menu li:first-child {
	margin-left: 0;
}
.ba-menu a {
	color: #fff;
	font-size: 14px;
	line-height: 2.86;
	font-weight: 500;
	text-decoration: none;
}
.ba-menu a:hover {
	color: #15b1f9;
}
.ba-intro__text {
	padding-top: 177px;
}
.ba-intro__text p {
	line-height: 1.36;
	max-width: 615px;
	margin: 0 auto;
}
.ba-intro__title {
	font: 700 48px/1.25 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-bottom: 43px;
	position: relative;
	margin-bottom: 38px;
}
.ba-services__title,
.ba-portfolio__title,
.ba-contacts__title {
	font: 700 35px/1.71 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-bottom: 63px;
	position: relative;
}

.ba-intro__title:after,
.ba-services__title:after,
.ba-portfolio__title:after,
.ba-contacts__title:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -43px;
	height: 2px;
	width: 86px;
	background-color: #fff;
}
.ba-intro__button {
	display: block;
	height: 92px;
	width: 92px;
	/* margin: 0 auto; */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 45px;
	background: url(../img/link-arrow.png);
	transition: background .2s ease-in;
}
.ba-intro__button:hover {
	background: url(../img/link-arrow-hover.png);
}

.ba-services {
	color: #222;
	text-align: center;
}
.ba-services__title {
	margin-bottom: 80px;
}
.ba-services__title:after {
	background-color: #222;
}
.ba-item {
	padding-top: 181px;
}
.ba-item__title {
	font-size: 24px;
	line-height: 1;

	font-weight: 400;
	margin: 0 0 31px 0;
}
.ba-item--iphone {
	background: url(../img/iphone.png) no-repeat 50% 0%;
}
.ba-item--responsive {
	background: url(../img/responsive.png) no-repeat 50% 0%;
}
.ba-item--checkmark {
	background: url(../img/checkmark.png) no-repeat 50% 0%;
}
.ba-item p {
	font-size: 16px;
	line-height: 1.875;
	max-width: 317px;
	margin: 0 auto;
}
.ba-promo {
	background-color: #343434;
	background:	url(../img/promo-bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-promo__container {
	background: url(../img/promo-bg-2.png) 88% 100% no-repeat;
}
.ba-promo__text {
	max-width: 570px;
	padding: 160px 0 111px ;
}

.ba-promo__title {
	text-transform: uppercase;
	font-size: 45px;
	line-height: 1.33;
	font-weight: 400;
	margin: 0;
}
.ba-promo__text p {
	font-size: 22px;
	line-height: 1.27;
	max-width: 520px;
	font-weight: 100;
	margin: 0 0 56px;
}
.ba-promo__link {
	color:  #ffffff;
	font-size: 18px;
	line-height: 1.55;
}
.ba-promo__link:hover {
	color: #15b1f9;
}

.ba-portfolio {
	text-align: center;
	padding-bottom: 80px;
}
.ba-portfolio__title {
	color: #222;
	margin-bottom: 90px;
}
.ba-portfolio__title:after {
	background-color: #222;
}
.ba-portfolio__examples {
	margin-bottom: 70px;
}
.ba-portfolio__box {
	position: relative;
}
.ba-portfolio__box:hover .ba-portfolio__mask {
	opacity: 1;
}
.ba-portfolio__box img {
	display: block;
	width: 100%;
}
.ba-portfolio__mask {
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s ease-in;
}
.ba-portfolio__subtitle {
	font-size: 22px;
	font-weight: 400;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 100%;
	padding-bottom: 82px;
	color: #fff;
	text-transform: uppercase;
	background: url(../img/link.png) 50% 100% no-repeat;
}

.ba-contacts {
	background: #040708 url(../img/footer-bg.jpg) 50% no-repeat;
	background-size: cover;
	text-align: center;
	padding-bottom: 120px;
}

.ba-contacts__title {
	margin-bottom: 69px;
}
.ba-social {
	margin-bottom: 54px;
}
.ba-social__link {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 10px;
}
.ba-social__link--tw {
	background: url(../img/icons/tw.svg) no-repeat 50% 100%;
}
.ba-social__link--f {
	background: url(../img/icons/f.svg) no-repeat 50% 100%;
}
.ba-social__link--in {
	background: url(../img/icons/in.svg) no-repeat 50% 100%;
}
.ba-social__link--v {
	background: url(../img/icons/v.svg) no-repeat 50% 100%;
}
.ba-social__link--be {
	background: url(../img/icons/be.svg) no-repeat 50% 100%;
}
.ba-contact-form {
	max-width: 670px;
	margin: 0 auto;
	text-align: center;
}
.ba-contact-form__field {
	background: none;
	outline: none;
	border: none;
	width: 100%;
	padding: 6px 30px;
	border-bottom: 2px solid #afafaf;
	font-size: 18px;
	line-height: 2.22;
}
.ba-contact-form__field--name {
	margin-right: 40px;
}
.ba-contact-form__field--message {
	width: 100%;
	margin-top: 87px;
}
.ba-contact-form__button {
	margin-top: 50px;
	background: none;
	color: #fff;
	padding: 0 58px;
	border-color: #fff;
}
